<div class="container-fluid pt-3" id="bg">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <ng-select [(ngModel)]="selectedCountry" placeholder="Search country..">
          @for (country of filteredCountries; track $index) {
          <ng-option [value]="country.name.common">{{
            country.name.common
          }}</ng-option>
          }
        </ng-select>
      </div>
      <div class="col-1">
        <button (click)="search()" class="btn btn-primary">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
        <ng-select [(ngModel)]="selectedRegion" placeholder="Search by region.">
          @for (region of regions; track $index) {
          <ng-option [value]="region">{{ region }}</ng-option>
          }
        </ng-select>
      </div>
      <div class="col-1">
        <button
          (click)="onGetCountryByRegion(selectedRegion)"
          class="btn btn-primary"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- <div class="input-group">
   
  </div>
  <div class="input-group">
  
  </div> -->

  @if (!isLoading) {
  <div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      @if (filteredCountries.length > 0) { @for (country of filteredCountries;
      track $index) {
      <div class="col">
        <div class="card-group">
          <div class="card card-white text-dark">
            <img
              [src]="country.flags.png"
              class="card-img-top m-auto p-2"
              alt="..."
              width="300px"
              height="auto"
            />
            <div class="card-body">
              <h5 class="card-title text-center">{{ country.name.common }}</h5>
              <p class="card-text"><b>Region:</b> {{ country.region }}</p>
              <p class="card-text"><b>Capital:</b> {{ country.capital }}</p>
              <p class="card-text">
                <b>Population:</b> {{ country.population }}
              </p>
              <button [routerLink]="'/country/' + country.cca3" class="btn">
                More info
              </button>
            </div>
          </div>
        </div>
      </div>
      }}
    </div>
  </div>
  }@else{
  <div class="lds-ripple">
    <div></div>
    <div></div>
  </div>
  }
</div>
