@if (!isLoading) {
<div class="container mt-3">
  <h1 class="text-center text-light">{{ countryDetails[0].name.common }}</h1>
  <img [src]="countryDetails[0].flags.png" alt="" class="mx-auto d-block" />
  <table class="table mt-5 table-bordered">
    <tbody>
      <tr>
        <td colspan="2" id="table-subheader">Basic Informaation:</td>
      </tr>
      <tr>
        <th scope="row">Common Name</th>
        <td>{{ countryDetails[0].name.common }}</td>
      </tr>
      <tr>
        <th scope="row">Official Name</th>
        <td>{{ countryDetails[0].name.official }}</td>
      </tr>
      <tr>
        <th scope="row">Capital</th>
        <td>{{ countryDetails[0].capital }}</td>
      </tr>
      <tr>
        <th scope="row">Region</th>
        <td>{{ countryDetails[0].region }}</td>
      </tr>
      <tr>
        <th scope="row">Subregion</th>
        <td>{{ countryDetails[0].subregion }}</td>
      </tr>
      <tr>
        <th scope="row">Population</th>
        <td>{{ countryDetails[0].population }}</td>
      </tr>
      <tr>
        <td colspan="2" id="table-subheader">Geographical Information</td>
      </tr>
      <tr>
        <th scope="row">latlang</th>
        <td>
          <a
            [href]="
              googleMapsLink +
              (countryDetails[0].latlng[0] | number : '1.2-2') +
              ',' +
              (countryDetails[0].latlng[1] | number : '1.2-2')
            "
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ countryDetails[0].latlng[0] | number : "1.2-2" }},
            {{ countryDetails[0].latlng[1] | number : "1.2-2" }}
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">Area</th>
        <td>{{ countryDetails[0].area }} Sq. km</td>
      </tr>
      @if (countryDetails[0].borders) {
      <tr>
        <th scope="row">Borders</th>
        <td>
          @for (border of countryDetails[0].borders; track $index) {
          <a
            (click)="scroll(0, 0)"
            [routerLink]="'/country/' + border.toLowerCase()"
          >
            {{ border + "," }}</a
          >
          }
        </td>
      </tr>
      }
      <tr>
        <th scope="row">google map</th>
        <td>
          <a [href]="countryDetails[0].maps.googleMaps" target="_blank">
            open in map</a
          >
        </td>
      </tr>
      <tr>
        <td colspan="2" id="table-subheader">
          Cultural and Linguistic Information:
        </td>
      </tr>
      <tr>
        <th scope="row">Languages</th>
        <td>
          @for (lang of getLanguageArray(); track $index) {
          {{ lang + "," }}
          }
        </td>
      </tr>
      <tr>
        <th scope="row">Demonyms</th>
        <td>
          <p>Female: {{ countryDetails[0].demonyms.eng.f }}</p>
          <p>Male: {{ countryDetails[0].demonyms.eng.m }}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
} @else {
<div class="lds-ripple">
  <div></div>
  <div></div>
</div>
}
