@if (!isLoading) {
<div class="container mt-3">
  <a [routerLink]="'/'"><-Home</a>
  <h1 class="text-center">{{ countryDetails[0].name.common }}</h1>
  <img [src]="countryDetails[0].flags.png" alt="" class="mx-auto d-block" />
  <table class="table mt-5 table-bordered border-white table-primary">
    <tbody>
      <h5>Basic Information:</h5>
      <tr>
        <th scope="row">Common Name</th>
        <td>{{ countryDetails[0].name.common }}</td>
      </tr>
      <tr>
        <th scope="row">Official Name</th>
        <td>{{ countryDetails[0].name.official }}</td>
      </tr>
      <tr>
        <th scope="row">Capital</th>
        <td>{{ countryDetails[0].capital }}</td>
      </tr>
      <tr>
        <th scope="row">Region</th>
        <td>{{ countryDetails[0].region }}</td>
      </tr>
      <tr>
        <th scope="row">Subregion</th>
        <td>{{ countryDetails[0].subregion }}</td>
      </tr>
      <tr>
        <th scope="row">Population</th>
        <td>{{ countryDetails[0].population }}</td>
      </tr>

      <!-- Add more key-value pairs as needed -->
      <h5 class="mt-3">Geographical Information</h5>
      <tr>
        <th scope="row">latlang</th>
        <td>
          <a
            [href]="
              googleMapsLink +
              countryDetails[0].latlng[0] +
              ',' +
              countryDetails[0].latlng[1]
            "
            target="_blank"
            rel="noopener noreferrer"
          >
            {{
              countryDetails[0].latlng[0] + "," + countryDetails[0].latlng[1]
            }}
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">Area</th>
        <td>{{ countryDetails[0].area }} Sq. km</td>
      </tr>
      @if (countryDetails[0].borders) {
      <tr>
        <th scope="row">Borders</th>
        <td>
          @for (border of countryDetails[0].borders; track $index) {
         <a (click)="scroll(0,0)" [routerLink]="'/country/' + border.toLowerCase()"> {{ border + "," }}</a>
          }
        </td>
      </tr>
      }
      <tr>
        <th scope="row">google map</th>
        <td>
          <a [href]="countryDetails[0].maps.googleMaps" target="_blank" > open in map</a>
         
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <p><b>Common Name:</b> {{ countryDetails[0].name.common }}</p>
  <p><b>Official Name:</b> {{ countryDetails[0].name.official }}</p>
  <p><b>Capital:</b> {{ countryDetails[0].capital }}</p>
  <p><b>Region:</b> {{ countryDetails[0].region }}</p>
  <p><b>Subregion:</b> {{ countryDetails[0].subregion }}</p>
  <p><b>Population:</b> {{ countryDetails[0].population }}</p> -->
</div>
} @else {
<div class="lds-ripple">
  <div></div>
  <div></div>
</div>
}
