<div class="container text-center">
  <div class="row align-items-center">
    <div class="col">
      <h1 class="text-center text-light mt-5">
        This Project Build with rescountries API +
        <img width="34px" src="favicon.ico" alt="" />Angular
      </h1>

      <h2 class="text-center text-light mt-3">
        You can clone this project with this repository
      </h2>
      <a href="https://github.com/saran-mani/countries-info.git" target="_blank"
        ><button class="btn btn-dark m-5">
          Github <i class="fa-brands fa-github"></i></button
      ></a>
      <a href="https://restcountries.com/" target="_blank"
        ><button class="btn btn-dark m-5">API</button></a
      >
    </div>
  </div>
</div>
